<?xml version="1.0"?>
<model>
  <name>Iceberg's Wildthumper</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
    <name>Grace Pearcey</name>
    <email>pearcey.grace@gmail.com</email>
  </author>

  <description>
    This is a model of a Wild Thumper rover with lidar and camera to mimic the sensors on Iceberg's ASV.
  </description>
  <depend>
    <model>
      <uri>model://wild_thumper</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
